
@import "neat/neat-helpers";

// Adding a Visual Grid while you develop. Set to 'true.'
$visual-grid: false;
$visual-grid-color: #ccc;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1000px;
