html {
	font-size: 100%;
}
body {
	@include fontSize(20px);
	background: #f3f1ec;
	font-family: $helvetica;
	word-break: break-word;
}
#page {
	 // @include outer-container;
}
.wrap {
	@include media($sm) {
		background: #fff;
	}
	@include media($hg) {

	}
}
#primary {
	@include clearfix;
	margin: auto;
	width: 75%;

	ul {
		list-style: none;

		li:before {
			@include genericon-rules;
		}
	}

}
#secondary {
	border-top: solid 10px #ccc;
	margin: 20px auto;
	padding: 40px 0;
	width: 75%;
}