/* =Typographical Mixins/Functions
-------------------------------------------------------------- */

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}
/* =Typography
-------------------------------------------------------------- */
body {
	line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
	@include clearfix;
	line-height: 1.25em;
	margin-bottom: 20px;
	text-transform: uppercase;

	a, a:visited {
		text-decoration: none;
	}
}
h1 {
	@include fontSize(75px);
	font-family: $title;
}
h2 {
	@include fontSize(50px);
	font-family: $title;
}
h3 {
	@include fontSize(35px);
	font-family: $title;
}
h4 {
	@include fontSize(24px);
	font-family: $title;
}
h5 {
	@include fontSize(20px);
	font-family: $title;
}
h6 {@include clearfix;
	@include fontSize(18px);
	font-family: $title;
}
blockquote {
	background-color: #f9f9f9;
	border-left: solid 5px $primary-color;
	font-style: italic;
	padding: 20px;
}
cite {
	font-style: italic;
}
strong, b {
	@include fontSize(20px);
	color: #000;
	font-family: $title;
}
a, a:visited {
	@include transition (all 200ms ease-in-out);
	color: #666;
	text-decoration: none;

	&:hover {
		@include transition (all 200ms ease-in-out);
		color: $primary-color;
	}
}

.entry-title {
	font-family: $title;
	text-align: center;

	@include media($sm) {
		@include fontSize(40px);
	}
	@include media($smbg) {
		@include fontSize(65px);
	}
	@include media($md) {
		@include fontSize(100px);
	}
}
#primary,
#secondary {
	font-family: $content;
}

/* =Genericons and Dashicons
-------------------------------------------------------------- */
@mixin dashicons {
	color: $icon-color;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Dashicons';
	vertical-align: middle;
}

@mixin genericons {
	color: $icon-color;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: middle;
}