h1, h2, h3, h4, h5, h6 {
	a, a:visited {
		text-decoration: none;
	}
}
h1 {
	@include fontSize(75px);
	font-family: $title;
}
h2 {
	@include fontSize(50px);
	font-family: $title;
	margin-bottom: 15px;
}
h3 {
	@include fontSize(26px);
	font-family: $content;
	margin-bottom: 15px;
	text-transform: uppercase;
}
h4 {
	@include fontSize(24px);
	font-family: $title;
	margin-bottom: 15px;
}
h5 {
	@include fontSize(24px);
	@include clearfix;
	display: inline;
	border-bottom: solid 1px #ff0000;
	font-family: $content;
	font-style: italic;
	margin-bottom: 15px;
	text-transform: uppercase;
}
h6 {@include clearfix;
	@include fontSize(24px);

	border-bottom: solid 1px #ff0000;
	border-top: solid 1px #ff0000;
	display: inline-block;
	font-family: $title;
	margin-bottom: 15px;
	text-transform: uppercase;
}
blockquote {
	background-color: #f9f9f9;
	border-left: solid 5px #ff0000;
	font-style: italic;
	padding: 20px;
}
cite {
	font-style: italic;
}
strong, b {
	@include fontSize(24px);
	color: #000;
}
a, a:visited {
	@include transition (all 200ms ease-in-out);
	color: #666;
	text-decoration: none;

	&:hover {
		@include transition (all 200ms ease-in-out);
		color: #ff0000;
	}
}


.entry-title {
	font-family: $title;
	text-align: center;

	@include media($sm) {
		@include fontSize(40px);
	}
	@include media($smbg) {
		@include fontSize(65px);
	}
	@include media($md) {
		@include fontSize(100px);
	}
}
#primary,
#secondary {
	font-family: $content;
}
.genericon {
	@include fontSize(24px);
	margin-right: 10px;
	top: 2px;
	position: relative;
	vertical-align: top;
}
