.page-template-page-templatestemplate-full-width-php {

  main#main,
  .site-main
  footer {
    @include section-container('full');
    margin: inherit;
    padding: inherit;
  }

  #primary {
    @include section-container('full');
    grid-column: 1 / -1;
    margin: inherit;
    padding: inherit;

    blockquote,
    .entry-meta,
    p,
    ul,
    h1,h2,h3,h4,h5,h6 {
      margin: 0 auto 15px auto;
      max-width: $maxwidth / 1.5;
    }

    .entry-meta {
      text-align: center;
    }
    
    .wp-block-gallery {
      max-width: 100%;
    }
  }

  h1.entry-title {
    padding-top: 100px;
  }

}

.post-template-page-templatestemplate-full-width-php {
  @extend .page-template-page-templatestemplate-full-width-php;
}
