// 2col Right Sidebar
.page-template-page-templatestemplate-right-col-php {

    h1.entry-title {
        margin: 0;
        text-align: left;
    }

    #primary {
        @include grid-media($sm) {
            float: left;
            @include grid-media($sm) {
                @include grid-column(2);
            }
            @include grid-media($md) {
                @include grid-column(4);
            }
        }
        @include grid-media($md) {

        }
    }
    #secondary {
        @include grid-media($sm) {
            @include grid-column(2);
        }
        @include grid-media($md) {
            float: right;
            margin-right: 1.5%;
            @include grid-media($sm) {
                @include grid-column(4);
            }
            @include grid-media($md) {
                @include grid-column(2);
            }
        }
    }
}
