.page-template-page-templatestemplate-full-width-php {

  main#main,
  .site-main
  footer {
    @include section-container('full');
    margin: inherit;
    padding: inherit;
  }

  #primary {
    @include section-container('full');
    grid-column: 1 / -1;
    margin: inherit;
    padding: inherit;

    p,
    ul,
    h1,h2,h3,h4,h5,h6 {
      margin: auto;
      max-width: $maxwidth / 1.5;
    }
  }

}

.post-template-page-templatestemplate-full-width-php {
  @extend .page-template-page-templatestemplate-full-width-php;
}
