/* =Menu
----------------------------------------------- */

.site-main [class*="navigation"] {
	float: left;
	margin: 25px 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	margin-top: 25px;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	margin-top: 25px;
	width: 50%;
}

#primary-nav {
	float: left;
	max-width: 100%;
	width: 100%;
}
