@mixin neat-buttons($border-color: #ccc, $border-radius: 50px, $button-padding: 20px, $button-bg: #ffffff ) {
	background: $button-bg;
	border: solid 5px $border-color;
	border-radius: $border-radius;
	box-shadow: none;
	font-family: $title;
	padding: $button-padding;
	transition: all 200ms ease-in-out;

	&:hover {
		background: darken( $button-bg, 5% );
		border: solid 5px darken( $border-color, 20% );
		border-radius: $border-radius;
		box-shadow: none;
		font-family: $title;
		padding: $button-padding;
	}
}

#submit {
	@include neat-buttons();
}

.neat-button {
	@include neat-buttons();
}