/* Something For later */

@mixin absolute-center($height: 50%, $width: 50%, $overflow: auto, $margin: auto, $position: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0 ) {
	bottom: $bottom;
	height: $height;
	left: $left;
	margin: $margin;
	overflow: $margin;
	position: $position;
	right: $right;
	top: $top;
	width: $width;
}
