@mixin neat-buttons($border-color: #ccc, $border-radius: 0, $button-padding: 20px, $button-bg: #ffffff ) {
    background: $button-bg;
    border: solid 5px $border-color;
    border-radius: $border-radius;
    box-shadow: none;
    clear: both;
    font-family: $title;
    margin: 10px 0;
    padding: $button-padding;
    transition: all 200ms ease-in-out;

    &:focus {
        background: darken( $button-bg, 5% );
        border: solid 5px darken( $border-color, 20% );
        border-radius: $border-radius;
        box-shadow: none;
        font-family: $title;
        padding: $button-padding;
    }

    &:hover {
        background: darken( $button-bg, 5% );
        border: solid 5px darken( $border-color, 20% );
        border-radius: $border-radius;
        box-shadow: none;
        font-family: $title;
        padding: $button-padding;
    }
}

@mixin neat-3d-buttons($border-color: #ccc, $border-radius: 0, $button-padding: 20px, $button-bg: #ffffff) {
    background: $button-bg;
    border-top: solid 3px $border-color;
    border-right: solid 3px $border-color;
    border-left: solid 3px $border-color;
    border-bottom: solid 5px #999;
    border-radius: $border-radius;
    clear: both;
    @include float(left);
    font-family: oswald;
    margin: 15px 0;
    padding: $button-padding;
    transition: all 200ms ease-in-out;

    &:focus {
        background: darken( $button-bg, 5% );
        border-top: solid 3px darken( $border-color, 20% );
        border-right: solid 3px darken( $border-color, 20% );
        border-left: solid 3px darken( $border-color, 20% );
        border-bottom: solid 3px darken( $border-color, 20% );
        border-radius: $border-radius;
        box-shadow: none;
        font-family: $title;
        padding: $button-padding;
    }

    &:hover {
        background: darken( $button-bg, 5% );
        border-top: solid 3px darken( $border-color, 20% );
        border-right: solid 3px darken( $border-color, 20% );
        border-left: solid 3px darken( $border-color, 20% );
        border-bottom: solid 3px darken( $border-color, 20% );
        border-radius: $border-radius;
        box-shadow: none;
        font-family: $title;
        padding: $button-padding;
    }
}

#submit {
    @include neat-buttons($button-bg: $primary-font-color, $border-radius: 0, $border-color: #555 );
        &:hover {
            background-color: #555;
        }
}

.neat-button {
     // @include ui-tooltip(210px, bottom, rgba(0,0,0, 0.7), ".tooltip");
     @include neat-buttons();
}

.neat-3d-button {
    @include neat-3d-buttons();
}

input[type="submit"] {
    @include neat-buttons($button-bg: $primary-font-color, $border-radius: 0, $border-color: #555 );
    margin: 0;
    padding: 8px;
        &:hover {
            background-color: darken($base-body-color, 40%);
            padding: 8px;
        }
}
input#s {
    @include float(left);
    width: 70%;
}
