#primary {
  ul,
  ol {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  ul.wp-block-gallery li {
    margin-left: inherit;
  }

  .wp-block-image {
    img {
      @include grid-media($sm) {
        padding: 0;
        width: 100%;
      }
  
      @include grid-media($md) {
        padding: 0;
      }
      max-width: none;
    }
    &.alignright {
      margin-right: 20%;
    }
    &.alignleft {
      margin-left: 20%;
    }
  }

  blockquote,
  .entry-meta,
  .post-navigation,
  p,
  ul,
  ol,
  h1,h2,h3,h4,h5,h6 {
    @include grid-media($sm) {
      padding: 0 20px;
    }
    margin: 0 auto 15px auto;
    max-width: $maxwidth / 1.5;
  }

  .entry-meta {
      text-align: center;
  }

  .wp-block-gallery {
      margin-left: 0 !important;
      max-width: 100%;
  }

  .wp-block-pullquote {
      padding: 20px 0;
  }

  .wp-block-quote {
      margin: 40px auto;
      padding: 20px;

      p {
          padding: 0;
      }

  }

}