@mixin neat-input($border-color: $primary-font-color, $border-radius: 0, $box-shadow: none, $color: $primary-font-color) {
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow;
  color: $color;
}

#{$all-text-inputs} {
  @include neat-input;
}
#{$all-text-inputs-focus} {
  @include neat-input($base-border-color: #ccc);
}
#{$all-text-inputs-hover} {
  @include neat-input;
}
