/* =Typographical Mixins/Functions
-------------------------------------------------------------- */

/**
 * PX to Rem Sizing
 *
 * How to use
 * font-size: rem(20);
 *
 * Ouputs —
 * font-size: 20px;
 */

$em-base: $base-font-size;

/* =Genericons and Dashicons
-------------------------------------------------------------- */
@mixin dashicons {
    color: $icon-color;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'Dashicons';
    vertical-align: middle;
}

@mixin genericons {
    color: $icon-color;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'Genericons';
    vertical-align: middle;
}

/* =Breadcrumbs
----------------------------------------------- */
#breadcrumbs {
  font-size: rem(14);
  font-family: $content;
  padding: 20px 0 20px 50px;
}

/* =Typography
-------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
    font-size: $em-base;
}
h1, h2, h3, h4, h5, h6 {
    @include clearfix;
    clear: both;
    float: none;
    line-height: 1.25em;
    margin-bottom: 20px;
    text-transform: uppercase;

}
h1 {
    font-size: rem(75);
    color: $primary-font-color;
    font-family: $title;
}
h2 {
    font-size: rem(50);
    font-family: $title;
}
h3 {
    font-size: rem(35);
    font-family: $title;
}
h4 {
    font-size: rem(24);
    font-family: $title;
}
h5 {
    font-size: rem(20);
    font-family: $title;
}
h6 {
    font-size: rem(16);
    font-family: $title;
}
blockquote {
    background-color: darken($base-body-color, 3%);
    @include border-left(solid 5px $link-color);
    font-style: italic;
    padding: 20px;
}
cite {
    font-style: italic;
}
strong, b {
    color: $primary-font-color;
    font-family: $title;
}
a, a:visited {
    @include transition (all 200ms ease-in-out);
    color: $primary-font-color;
    text-decoration: none;

    &:hover {
        @include transition (all 200ms ease-in-out);
        color: $link-color;
    text-decoration: underline;
    }
}

.entry-meta,
.entry-content,
#secondary {
    a, a:visited {
        @include transition (all 200ms ease-in-out);
        color: $link-color;
        text-decoration: none;

        &:hover {
            @include transition (all 200ms ease-in-out);
            color: $link-color;
            text-decoration: underline;
        }
    }
}
ul {
    @extend %default-ul; // Adds browser default spacing back
    &:nth-child(n+2) {
        margin-bottom: 0;
    }
}
ol {
    @extend %default-ol; // Adds browser default spacing back
    &:nth-child(n+2) {
        margin-bottom: 0;
    }
}
.entry-title {
    font-family: $title;
    text-align: center;

    @include media($sm) {
        font-size: rem(40);
    }
    @include media($smbg) {
        font-size: rem(65);
    }
    @include media($md) {
        font-size: rem(100);
    }
}
#primary,
#secondary {
    font-family: $content;
}
