/* =Variables
-------------------------------------------------------------- */
$base-body-color: #fff;
$icon-color: #ff0000;
$primary-font-color: #000;
$link-color: #ff0000;
$title: $helvetica;
$content: $georgia;
