/* =Variables
-------------------------------------------------------------- */
$base-font-size: 20px;
$base-body-color: #fff;
$icon-color: #f00;
$primary-font-color: #000;
$grey: #ededed;
$link-color: #f00;
$title: $helvetica;
$content: $georgia;
$shadow: rgba(0, 0, 0, .6);
