#{$all-button-inputs},
button {
  @include appearance(none);
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: $base-background-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: $base-background-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}
