.site-branding {
	text-align: center;

	.site-title {
		@include media($sm) {
			@include fontSize(35px);
		}
		@include media($smbg) {
			@include fontSize(55px);
		}
		@include media($md) {
			@include fontSize(75px);
		}
		font-family: $title;
	}

	.site-description {
		@include fontSize(20px);
		@include media($sm) {
			@include fontSize(15px);
		}
		@include media($smbg) {
			@include fontSize(18px);
		}
		@include media($md) {
			@include fontSize(25px);
		}
		font-family: $content;
		font-style: italic;
	}
}