
/* =Genericons and Dashicons
-------------------------------------------------------------- */
@mixin dashicons {
    color: $icon-color;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'Dashicons';
    vertical-align: middle;
}

@mixin genericons {
    color: $icon-color;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'Genericons';
    vertical-align: middle;
}

/* =Breadcrumbs
----------------------------------------------- */
#breadcrumbs {
  font-size: 14px;
  font-family: $content;
  padding: 20px 0 20px 50px;
}

/* =Typography
-------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
    font-size: $base-font-size;
}
h1, h2, h3, h4, h5, h6 {
    @include clearfix;
    clear: both;
    float: none;
    line-height: 1.25em;
    margin-bottom: 20px;
    text-transform: uppercase;

}
h1 {
    font-size: 75px;
    color: $primary-font-color;
    font-family: $title;
}
h2 {
    font-size: 50px;
    font-family: $title;
}
h3 {
    font-size: 35px;
    font-family: $title;
}
h4 {
    font-size: 24px;
    font-family: $title;
}
h5 {
    font-size: 20px;
    font-family: $title;
}
h6 {
    font-size: 16px;
    font-family: $title;
}
blockquote {
    background-color: darken($base-body-color, 3%);
    font-style: italic;
    padding: 20px;
}
cite {
    font-style: italic;
}
strong, b {
    color: $primary-font-color;
    font-family: $title;
}
a, a:visited {
    color: $primary-font-color;
    text-decoration: none;

    &:hover {
        color: $link-color;
    text-decoration: underline;
    }
}

.entry-meta,
.entry-content,
#secondary {
    a, a:visited {
        color: $link-color;
        text-decoration: none;

        &:hover {
            color: $link-color;
            text-decoration: underline;
        }
    }
}

#primary,
#secondary {
    font-family: $content;
}
