#primary {
  ul,
  ol {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  ul.wp-block-gallery li {
    margin: 8px;
  }

  p.wp-block-subhead,
  blockquote, {
    @include grid-media($md) {
      max-width: 720px;
    }
    @include grid-media($mdbg) {
      max-width: 840px;
    }
    border-left: solid 3px $black;
    font-size: 26px;
    font-style: italic;
    line-height: 1.2;
    margin: 40px auto;
    padding: 20px;
  }

  .wp-block-image {

    figcaption {
      @include grid-media($sm) {
        display: block;
      }
      border-bottom: solid 1px #ccc;
      padding-bottom: 5px;
      display: flex;
      justify-content: center;
      text-decoration: underline;
      max-width: 800px;
      margin: 0 auto 20px auto;
    }
    
    img {  
      @include grid-media($sm) {
        
      }
      @include grid-media($md) {
        padding: 0;
      }

    }

    &.alignfull {
      img {
        width: 100%;
      }
    }

    &.alignright {
      @include grid-media($sm) {
        margin: auto;
        padding: 0;
        width: 100%;
      }
      @include grid-media($smbg) {
        float: right;
        margin-right: 5%;
        padding: 20px;
        width: inherit;
      }
      @include grid-media($md) {
        margin-left: 10px;
        margin-right: 5%;
      }
      @include grid-media($mdbg) {
        margin-right: 10%;
      }
      @include grid-media($hg) {
        margin-right: 15%;
      }
      @include grid-media($hgbg) {
        margin-right: 20%;
      }
    }

    &.alignleft {
      @include grid-media($sm) {
        margin: auto;
        padding: 20px;
        width: 100%;
      }
      @include grid-media($smbg) {
        float: left;
        margin-left: 5%;
        padding: inherit;
        width: inherit;
      }
      @include grid-media($md) {
        margin-left: 5%;
        margin-right: 20px;
      }
      @include grid-media($mdbg) {
        margin-left: 10%;
      }
      @include grid-media($hg) {
        margin-left: 15%;
      }
      @include grid-media($hgbg) {
        margin-left: 20%;
      }

    }
    &.is-resized img {
      @include grid-media($sm) {
        float: none;
        width: 100%;
        margin: 20px auto;
      }
      @include grid-media($md) {
        float: inherit;
        // margin: inherit;
        width: inherit;
      }
    }
  }

  .comment-respond,
  a.post-edit-link,
  .entry-meta,
  .jp-relatedposts,
  .post-navigation,
  cite,
  p,
  ul,
  ol,
  h1,h2,h3,h4,h5,h6,
  .shared-counts-wrap,
  .sharedaddy,
  .wp-block-embed {
    @include grid-media($sm) {
      padding: 0 20px;
    }
    @include grid-media($md) {
      padding: 0;
    }
    margin: 0 auto 15px auto;
    max-width: $maxwidth / 1.5;
  }

  .entry-meta {
      text-align: center;
  }

  .wp-block-gallery {
      margin-left: 0 !important;
      max-width: 100%;
  }

  .wp-block-pullquote {
    border: double $black; 
    padding: 20px 0;
  }

  .wp-block-quote {
    margin: 40px auto;
    padding: 20px;

    p {
        padding: 0;
    }

  }

}