body.gutenberg-editor-page .edit-post-layout__content {
    // Importing theme typography for Gutenberg Editor
    @import '../common/typography';

    // Title within media thickbox
    .media-frame-title h1 {
        padding: 0 16px;
        font-size: 22px;
        line-height: 50px;
        margin: 0;
    }
    
    .editor-post-title__input {
        font-weight: bold !important;
        text-align: center;
    }
    
    .attachment-details h2 {
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
        color: #666;
        margin: 24px 0 8px;
    }

    p {
        @extend p;
    }

    ul {
        @extend #primary;
    }

    p.wp-block-subhead {
        font-size: 24px;
    }
    
    .mce-btn.mce-active button, 
    .mce-btn.mce-active:hover button, 
    .mce-btn.mce-active i, 
    .mce-btn.mce-active:hover i {
        color: $primary-font-color;
    }

    #adminmenu,
    ul.wp-submenu.wp-submenu-wrap {
        font-family: inherit;
    }

    .notice.notice-alt {
        p {
            font-family: sans-serif;
        }
    }

    .editor-post-title__input {
        @extend h2;
        font-weight: normal;
        padding: 0;
    }

    span.editor-block-types-list__item-title {
        font-family: sans-serif;
    }

    .components-notice-list p {
        font-family: sans-serif;
    }

    .document-outline ul {
        font-family: sans-serif !important;
    }

    // Tweaks for Carbon Fields Metabox
    #poststuff .carbon-box .inside, 
    body.comment-php #poststuff .postbox-container .inside {
        top: 50px;
    }

    /* Main column width */
    .editor-post-title__block,
    .editor-default-block-appender,
    .editor-block-list__block {
        max-width: 960px;
    }

    /* Width of "wide" blocks */
    .editor-block-list__block[data-align="wide"] {
        max-width: 1200px;
    }

    /* Width of "full-wide" blocks */
    .editor-block-list__block[data-align="full"] {
        max-width: none;
    }

}

    // Metaboxes Side Panel
    .edit-post-meta-boxes-area .postbox {
        .handlediv {
            position: absolute;
            right: 0;
        }
        h2 {
            color: #000 !important;
            font-size: 13px !important;
        }
        span.toggle-indicator {
            &::before {
                content: "\f343" !important;
                color: #000;
                font-size: 18px !important;
            }
        }
        &.closed {
            span.toggle-indicator {
                &::before {
                    content: "\f347" !important;
                    color: #000;
                    font-size: 18px !important;
                }
            }
        }

    }