/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll #navigation,
.infinite-scroll.neverending #footer {
    display: none;
}
/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
    display: block;
}

.infinite-wrap {
	@include grid-media($sm) {
		grid-column: 1 / -1;
		padding: 0 20px;
	}
	@include grid-media($mdbg) {
		grid-column: 1 / 7;
		margin-left: 20px;
		padding: 0;
	}
	@include grid-media($hg) {
		grid-column: 1 / 9;
		margin: 0;
	}
}