/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll #navigation,
.infinite-scroll.neverending #footer {
    display: none;
}
/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
    display: block;
}

.infinite-wrap {
	@include grid-media($sm) {
		grid-column: 1 / -1;
		padding: 0 20px;
	}
	@include grid-media($mdbg) {
		grid-column: 1 / 7;
		margin-left: 20px;
		padding: 0;
	}
	@include grid-media($hg) {
		grid-column: 1 / 9;
		margin: 0;
	}
}

// Globally hidden elements when Infinite Scroll is supported and in use.
.infinite-scroll .paging-navigation, // Older / Newer Posts Navigation (always hidden)
.infinite-scroll.neverending .site-footer { // Theme Footer (when set to scrolling)
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
    display: block;
}

#content {

    .entry-content {
        a, a:visited {
            // border-bottom: solid 1px $primary-color;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .entry-meta {
        a, a:visited {
            // border-bottom: solid 1px $primary-color;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}