footer {
	float: left;
	margin: 0 auto;
	padding: 0 40px;
	width: 100%;
	.site-info {
		margin: auto;
		width: 100%;
	}
	.footer-left {
		@include span-columns(6);
		margin-top: 30px;
		margin-bottom: 40px;
		padding: 10px;
		text-align: left;
	}
	.footer-right {
		@include span-columns(6);
		margin-top: 30px;
		margin-bottom: 40px;
		padding: 10px;
		text-align: right;
	}
}
