#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

@mixin neat-buttons($border-color: #000, $color: $base-background-color, $border-radius: 0, $button-bg: #000000 ) {
  background: $button-bg;
  border: solid 1px $border-color;
  border-radius: $border-radius;
  box-shadow: none;
  color: contrast-switch($button-bg, $color, $button-bg);
  font-family: $title;
  margin: 10px 0;
  transition: all 200ms ease-in-out;

  &:focus {
      background: $color;
      border-radius: $border-radius;
      color: $button-bg;
      box-shadow: none;
      font-family: $title;
  }

  &:hover {
      background: $color;
      border: solid 1px $border-color;
      border-radius: $border-radius;
      color: #000;
      box-shadow: none;
      font-family: $title;
  }
}

[type='button'], [type='reset'], [type='submit']{
  @include neat-buttons;
}