/* =Genericons and Dashicons
-------------------------------------------------------------- */
@mixin dashicons {
    color: $icon-color;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'Dashicons';
    vertical-align: middle;
}

@mixin genericons {
    color: $icon-color;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'Genericons';
    vertical-align: middle;
}

/* =Breadcrumbs
----------------------------------------------- */
#breadcrumbs {
  font-size: 14px;
  font-family: $content;
  padding: 20px 0 20px 50px;
}

/* =Typography
-------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
    font-size: $base-font-size;
    line-height: $base-line-height;
}
h1, h2, h3, h4, h5, h6 {
    @include clearfix;
    clear: both;
    float: none;
    font-weight: bold;
    line-height: 1.25em;
    a, a:visited {
        color: $primary-font-color;
    }
}
h1 {
    @include grid-media($sm) {
        font-size: 8vh;
    }
    @include grid-media($smbg) {
        font-size: 55px;
    }
    @include grid-media($md) {
        font-size: 65px;
    }
    @include grid-media($mdbg) {
        font-size: 75px;
    }
    color: $primary-font-color;
    font-family: $title;
}
h2 {
    @include grid-media($sm) {
        font-size: 6vh;
    }
    @include grid-media($smbg) {
        font-size: 30px;
    }
    @include grid-media($md) {
        font-size: 40px;
    }
    @include grid-media($mdbg) {
        font-size: 50px;
    }
    font-family: $title;
}
h3 {
    @include grid-media($sm) {
        font-size: 5vh;
    }
    @include grid-media($smbg) {
        font-size: 25px;
    }
    @include grid-media($md) {
        font-size: 30px;
    }
    @include grid-media($mdbg) {
        font-size: 35px;
    }
    font-family: $title;
}
h4 {
    @include grid-media($sm) {
        font-size: 18px;
    }
    @include grid-media($smbg) {
        font-size: 20px;
    }
    @include grid-media($md) {
        font-size: 22px;
    }
    @include grid-media($mdbg) {
        font-size: 24px;
    }
    font-family: $title;
}
h5 {
    @include grid-media($sm) {
        font-size: 14px;
    }
    @include grid-media($smbg) {
        font-size: 16px;
    }
    @include grid-media($md) {
        font-size: 18px;
    }
    @include grid-media($mdbg) {
        font-size: 20px;
    }
    font-family: $title;
}
h6 {
    @include grid-media($sm) {
        font-size: 14px;
    }
    @include grid-media($md) {
        font-size: 16px;
    }
    font-family: $title;
}

blockquote,
.wp-block-quote {
    font-size: 26px;
    font-style: italic;
    line-height: 1.2;
    padding: 20px;
    p {
        font-size: 26px;
        line-height: 1.2;
    }
}

cite {
    font-style: italic;
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

strong, b {
    color: $primary-font-color;
}

a, a:visited {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color;
        text-decoration: underline;
    }
}

.entry-meta,
.entry-content,
#secondary {
    a, a:visited {
        color: $link-color;
        text-decoration: none;
        transition: color $base-transition;
      
        &:active,
        &:focus,
        &:hover {
          color: shade($link-color, 25%);
        }
    }
}

p {
    font-family: $content;
}

#primary,
#secondary {
    font-family: $content;
    ul {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

#secondary {
    ul {
        padding: inherit;
        padding-left: 20px;
    }
}