button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

/* =Genericons and Dashicons
-------------------------------------------------------------- */
/* =Breadcrumbs
----------------------------------------------- */
#breadcrumbs {
  font-size: 14px;
  font-family: "Georgia", "Times", "Times New Roman", serif;
  padding: 20px 0 20px 50px; }

/* =Typography
-------------------------------------------------------------- */
html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  float: none;
  line-height: 1.25em;
  margin-bottom: 20px; }
  h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    clear: both;
    content: "";
    display: block; }

h1 {
  font-size: 75px;
  color: #000;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h2 {
  font-size: 50px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h3 {
  font-size: 35px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h4 {
  font-size: 24px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h5 {
  font-size: 20px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h6 {
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

blockquote {
  background-color: #f7f7f7;
  font-style: italic;
  padding: 20px; }

cite {
  font-style: italic; }

strong, b {
  color: #000;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

a, a:visited {
  color: #000;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #f00;
    text-decoration: underline; }

.entry-meta a, .entry-meta a:visited,
.entry-content a,
.entry-content a:visited,
#secondary a,
#secondary a:visited {
  color: #f00;
  text-decoration: none; }
  .entry-meta a:hover, .entry-meta a:visited:hover,
  .entry-content a:hover,
  .entry-content a:visited:hover,
  #secondary a:hover,
  #secondary a:visited:hover {
    color: #f00;
    text-decoration: underline; }

#primary,
#secondary {
  font-family: "Georgia", "Times", "Times New Roman", serif; }

#submit {
  background: #000;
  border: solid 5px #555;
  border-radius: 0;
  box-shadow: none;
  clear: both;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 10px 0;
  padding: 20px;
  transition: all 200ms ease-in-out; }
  #submit:focus {
    background: black;
    border: solid 5px #222222;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px; }
  #submit:hover {
    background: black;
    border: solid 5px #222222;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px; }
  #submit:hover {
    background-color: #555; }

.neat-button {
  background: #ffffff;
  border: solid 5px #ccc;
  border-radius: 0;
  box-shadow: none;
  clear: both;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 10px 0;
  padding: 20px;
  transition: all 200ms ease-in-out; }
  .neat-button:focus {
    background: #f2f2f2;
    border: solid 5px #999999;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px; }
  .neat-button:hover {
    background: #f2f2f2;
    border: solid 5px #999999;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px; }

.neat-3d-button {
  background: #ffffff;
  border-top: solid 3px #ccc;
  border-right: solid 3px #ccc;
  border-left: solid 3px #ccc;
  border-bottom: solid 5px #999;
  border-radius: 0;
  clear: both;
  float: right ;
  font-family: oswald;
  margin: 15px 0;
  padding: 20px;
  transition: all 200ms ease-in-out; }
  .neat-3d-button:focus {
    background: #f2f2f2;
    border-top: solid 3px #999999;
    border-right: solid 3px #999999;
    border-left: solid 3px #999999;
    border-bottom: solid 3px #999999;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px; }
  .neat-3d-button:hover {
    background: #f2f2f2;
    border-top: solid 3px #999999;
    border-right: solid 3px #999999;
    border-left: solid 3px #999999;
    border-bottom: solid 3px #999999;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px; }

input[type="submit"] {
  background: #000;
  border: solid 5px #555;
  border-radius: 0;
  box-shadow: none;
  clear: both;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 10px 0;
  padding: 20px;
  transition: all 200ms ease-in-out;
  margin: 0;
  padding: 8px; }
  input[type="submit"]:focus {
    background: black;
    border: solid 5px #222222;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px; }
  input[type="submit"]:hover {
    background: black;
    border: solid 5px #222222;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 20px; }
  input[type="submit"]:hover {
    background-color: #999999;
    padding: 8px; }

input#s {
  float: right ;
  width: 70%; }

/* Hamburger Menu */
.hamburger-wrapper {
  box-shadow: #ccc;
  position: relative;
  height: 38px;
  margin-left: 13px; }

.hamburger-wrapper .hamburger {
  cursor: pointer;
  display: inline-block;
  outline: none;
  pointer-events: auto;
  position: relative;
  width: 38px;
  height: 38px; }

.hamburger-wrapper .hamburger,
.hamburger-wrapper .hamburger:visited {
  color: #000; }

.has-overlay-open .hamburger-wrapper .hamburger {
  color: #fff; }

.hamburger-wrapper .hamburger:hover .hamburger-icon,
.hamburger-wrapper .hamburger:hover .hamburger-icon:before,
.hamburger-wrapper .hamburger:hover .hamburger-icon:after {
  width: 35px; }

.hamburger-wrapper .hamburger .hamburger-icon,
.hamburger-wrapper .hamburger .hamburger-icon:before,
.hamburger-wrapper .hamburger .hamburger-icon:after {
  background-color: #000;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  width: 35px; }

.has-overlay-open .hamburger-wrapper .hamburger .hamburger-icon:before, .has-overlay-open .hamburger-wrapper .hamburger .hamburger-icon:after {
  background-color: #fff; }

.hamburger-wrapper .hamburger .hamburger-icon:before {
  top: 8px;
  width: 22px; }

.hamburger-wrapper .hamburger .hamburger-icon:after {
  top: 16px;
  width: 26px; }

.hamburger-wrapper .hamburger .hamburger-label {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  position: absolute;
  text-transform: uppercase;
  top: 28px;
  right: 0; }

.hamburger-wrapper .hamburger.active .hamburger-icon {
  background-color: transparent; }

.hamburger-wrapper .hamburger.active .hamburger-icon:after {
  transform: rotate(45deg);
  top: 10px;
  width: 30px; }

.hamburger-wrapper .hamburger.active .hamburger-icon:before {
  transform: rotate(-45deg);
  top: 10px;
  width: 30px; }

.hamburger-wrapper .hamburger.active:after {
  opacity: 0; }

/* Site Menu */
@media only screen and (min-width: 0) {
  .main-navigation {
    background: #141414;
    background: rgba(20, 20, 20, 0.9);
    color: #fff;
    margin: 0;
    overflow: hidden;
    padding: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    z-index: 80;
    transition: right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); } }

@media only screen and (min-width: 768px) {
  .main-navigation {
    margin-right: 50%;
    width: calc(100% - 50%); } }

@media only screen and (min-width: 1140px) {
  .main-navigation {
    margin-right: 55%;
    width: calc(100% - 55%); } }

.has-menu-open .main-navigation {
  right: 0; }

.main-navigation .main-navigation-inside {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% - 70px);
  margin: 4.375rem 20px 0;
  padding: 30px 0 0;
  padding: 1.875rem 0 0; }

.main-navigation-inside {
  margin-top: 205px !important;
  height: calc(100% - 205px) !important; }

/* Site Header Menu */
.site-header-menu {
  margin: 0 auto;
  position: relative;
  width: calc(100% - 12px);
  transform: translateX(-200%);
  transition: transform 0.4s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 200; }

.has-menu-open .site-header-menu {
  transform: translateX(0px); }

/* Site Header Menu List */
.header-menu {
  list-style: none;
  margin: 0 auto;
  padding: 0; }

.header-menu * {
  list-style: none;
  margin: 0;
  padding: 0; }

.header-menu ul {
  display: none;
  margin-left: 24px;
  margin-left: 1.5rem;
  padding: 20px 0;
  padding: 1.25rem 0; }

.header-menu ul.toggle-on {
  display: block; }

.header-menu li {
  position: relative;
  word-wrap: break-word;
  white-space: normal; }

.header-menu li.current_page_item a,
.header-menu li.current-menu-item a,
.header-menu li.current_page_ancestor > a,
.header-menu li.current-menu-ancestor > a,
.header-menu li.current_page_parent > a,
.header-menu li.current-menu-parent > a {
  color: #aaa; }

.header-menu a, .header-menu a:visited {
  color: #fff;
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  padding: 0 0 8px;
  padding: 0 0 0.5rem;
  text-transform: uppercase; }

.header-menu a:hover, .header-menu a:focus, .header-menu a:active {
  color: #aaa; }

.header-menu ul a, .header-menu ul a:visited {
  color: #fff;
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  padding: 0 0 8px;
  padding: 0 0 0.5rem;
  text-transform: uppercase; }

.header-menu ul a:hover, .header-menu ul a:focus, .header-menu ul a:active {
  color: #aaa; }

.header-menu .dropdown-toggle {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px; }

.header-menu .dropdown-toggle:after {
  color: #fff;
  content: "\f347";
  font-family: Dashicons;
  font-size: 32px; }

.header-menu .dropdown-toggle.toggle-on:after {
  content: "\f343";
  color: #aaa;
  font-family: Dashicons; }

.header-menu .page_item_has_children > a,
.header-menu .menu-item-has-children > a {
  padding-right: 40px;
  padding-right: 2.5rem; }

.overlay {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: opacity 0.4s, transform 0s 0.4s;
  z-index: 50; }

.has-overlay-open {
  height: 100%;
  overflow: hidden; }
  .has-overlay-open .overlay {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.8s; }
  .has-overlay-open #site-navigation {
    border-top: 0;
    border-bottom: 0; }

.site-header.offcanvas-nav {
  padding: 0; }

.site-header-inside-wrapper {
  -ms-flex-align: baseline;
      align-items: baseline;
  display: -ms-flexbox;
  display: flex; }
  .site-header-inside-wrapper .site-branding {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
        align-items: baseline; }
  .site-header-inside-wrapper .hamburger-wrapper {
    position: relative;
    z-index: 100; }

/*# sourceMappingURL=../../maps/layouts/navigation-offcanvas.css.map */
