/* =Structure/Scaffolding
-------------------------------------------------------------- */
html {
	font-size: 100%;
}
body {
	@include fontSize(20px);
	font-family: $helvetica;
	word-break: break-word;
}
#page {
	 @include outer-container;
}
.wrap {}

#primary {
	@include clearfix;
	margin: auto;
	width: 75%;

	ul {
		list-style: none;

		li {
			list-style-type: square;
		}
	}

}
#secondary {
	border-top: solid 10px #ccc;
	margin: 20px auto;
	padding: 40px 0;
	width: 75%;
}
