.sticky {
  background: $grey;
  width: 100%;
}

.gallery-caption {
    list-style: none;
}

.bypostauthor {
    list-style: none;
}

header {
  h1 {
    text-align: center;
  }
}

.hentry {
    margin: 0 0 0;
}

.more-link {
    padding-bottom: modular-scale(1);
    display: block;
}

.byline,
.updated {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 0 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.aligncenter {
    @include clearfix;
    float: none;
    margin-top: .5em;
    margin-right: auto !important;
    margin-bottom: .5em;
    margin-left: auto !important;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.sticky{
    float: left;
    padding: 20px;
}

.gallery-caption {}
.bypostauthor {}

/* =Comments
----------------------------------------------- */
.comment-content a {
    word-wrap: break-word;
}
ol.comment-list li {
    display: block;
}

/* =Archives
----------------------------------------------- */
footer.entry-meta span {
    padding: 5px;
}