footer {
    @include grid-container();

    .site-info {
        @include grid-media($sm) {
            @include grid-column(2);
        }
        text-align: center;
    }
    .footer-left {
        @include grid-media($sm) {
            @include grid-column(2);
            text-align: center;
        }
        @include grid-media($smbg) {
            @include grid-column(2);
            @include text-align(left);
        }
    }
    .footer-right {
        @include grid-media($sm) {
            @include grid-column(2);
            text-align: center;
        }
        @include grid-media($smbg) {
            @include grid-column(2);
            @include text-align(right);
        }
    }
}
