header {
    position: relative;
    z-index: 1;
}
.site-branding {
    text-align: center;
    .site-title {
        font-family: $title;
        padding: 40px;

        @include media($sm) {
            font-size: rem(35);
        }
        @include media($smbg) {
            font-size: rem(55);
        }
        @include media($md) {
            font-size: rem(75);
        }

        a,a:visited {
            line-height: 1;
        }

    }

    .site-description {
        padding: 25px 0;
        font-size: rem(20);

        @include media($sm) {
            font-size: rem(15);
        }
        @include media($smbg) {
            font-size: rem(18);
        }
        @include media($md) {
            font-size: rem(25);
        }
        font-family: $content;
        font-style: italic;
    }
}

/* =Off-Canvas Header Styling
----------------------------------------------- */
.site-header-inside-wrapper {
    align-items: baseline;
    display: flex;

    .site-branding {
        display: flex;
        align-items: baseline;
    }
    .hamburger-wrapper {
        position: relative;
        z-index: 100;
    }
}