/* =Menu
----------------------------------------------- */

.site-main [class*="navigation"] {
    @include fill-parent;
    @include float(left);
    margin: 25px 0 1.5em;
    overflow: hidden;
}
[class*="navigation"] .nav-previous {
    @include float(left);
    margin-top: 25px;
    width: 50%;
}
[class*="navigation"] .nav-next {
    @include float(right);
    @include text-align(right);
    margin-top: 25px;
    width: 50%;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    @include float(left);
    @include left(0);
    position: absolute;
    top: 1.5em;
    z-index: 99999;
    background: #fff;
    padding: 30px;
}
#site-navigation {
    border-top: solid 5px #f3f3f3;
    border-bottom: solid 5px #f3f3f3;
}
ul.nav-menu li {
    @include transition (background 200ms ease-in-out);
    @include media($sm) {
        text-align: center;
        width: 100%;
    }
    @include media($md) {
        text-align: none;
        width: inherit;
    }
    background: #fff;
    padding: 10px;

    &:hover {
        @include transition (background 200ms ease-in-out);
        background: #f3f3f3;
    }
}
.menu-main-menu-container {

    li.current-menu-item {
        background-color: #f3f3f3;
        display: block;
    }
}

ul.nav-menu li.current_page_item {
    background: #f3f3f3;
}

#primary-nav {
    @include float(left);
    max-width: 100%;
    width: 100%;
}

nav.post-navigation {
    @include fill-parent;
}
.nav-links {
    @include fill-parent;
    .nav-previous {
        @include media($sm) {
            @include span-columns( 2 );
            @include omega( block );
        }
        @include media($md) {
            @include span-columns(3);
        }
    }
    .nav-next {
        @include media($sm) {
            @include span-columns( 2 );
            @include omega( block );
        }
        @include media($md) {
            @include span-columns(3);
        }
    }
}
