/* =Structure/Scaffolding
-------------------------------------------------------------- */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {

}
@include ltr {
		body {
		color: #000;
		font-family: $content;
		line-height: 1.5em;
		word-break: break-word;
	}
}

@include rtl {
	body {
		color: #000;
		font-family: $content;
		line-height: 1.5em;
		word-break: break-word;
		direction: rtl;
		unicode-bidi: embed;
	}
}

.wrap {
	@include outer-container;
}
