/* =Structure/Scaffolding
-------------------------------------------------------------- */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {

}
body {
  color: #000;
  font-family: $content;
  line-height: 1.5em;
  word-break: break-word;
}

.wrap {
	@include outer-container;
}
