/* =Structure/Scaffolding
-------------------------------------------------------------- */
html {

}

body {
	background-color: $base-body-color;
	color: $primary-font-color;
	font-family: $content;
	line-height: 1.5em;
	margin: 0;
	word-break: break-word;
}


.site-header,
.site-footer,
.site-main {
	@include grid-container();
	@include section-container('wide');
}

main#main {
	//position: relative;
	//z-index: 0;
}

#primary {
	@include grid-media($sm) {
		@include grid-column(2);
	}
	@include grid-media($smbg) {
		@include grid-column(4);
	}
	@include grid-media($md) {
		@include grid-column(4);
	}
	@include grid-media($mdbg) {
		@include grid-column(5);
	}
	margin: 0 auto;
	width: 100%;

	ol {
		li {
			margin-left: 10px;
		}
	}
	ul {
		list-style: none;
		margin-left: 40px;
		li {
			list-style-type: square;
			ul {
				li {
					list-style-type: disc;
					ul {
						li {
							list-style-type: circle;
						}
					}
				}
			}

		}
	}
}

#secondary {
	@include grid-media($sm) {
		@include grid-column(2);
	}
	@include grid-media($smbg) {
		@include grid-column(4);
	}
	@include grid-media($md) {
		@include grid-column(2);
	}
	@include grid-media($mdbg) {
		@include grid-column(2.5);
		@include grid-push(.5);
	}
}


