.page-template-page-templatestemplate-full-width-php {

  #main,
  #primary,
  #secondary {
    @include fill-parent;
    @include outer-container(100%);
    margin: 0 auto;
    padding: 0;
  }

  #page {
    @include outer-container(100%);
  }
  .site-main [class*="navigation"],
  #comments,
  footer,
  #primary-nav {
	  @include outer-container;
	  float: none;
  }

}

.post-template-page-templatestemplate-full-width-php {
  @extend .page-template-page-templatestemplate-full-width-php;
}