// 2col Right Sidebar
.page-template-page-templatestemplate-right-col-php {

    h1.entry-title {
        margin: 0;
        @include text-align(left);
    }

    #primary {
        @include media($sm) {
            @include float(left);
            @include media($sm) {
                @include span-columns(4);
            }
            @include media($md) {
                @include span-columns(4);
            }
        }
        @include media($md) {

        }
    }
    #secondary {
        @include media($sm) {

        }
        @include media($md) {
            @include float(right);
            @include margin-right(1.5%);
            @include media($sm) {
                @include span-columns(4);
            }
            @include media($md) {
                @include span-columns(2);
            }
        }
    }
}
