// 2col Left Sidebar
.page-template-page-templatestemplate-left-col-php {

    h1.entry-title {
        margin: 0;
        @include text-align(left);
    }
    #main {
        @include media($sm) {
        }
        @include media($md) {
            display: flex;
        }

        #primary {
            @include media($sm) {
                @include span-columns(4);
            }

            @include media($md) {
                @include span-columns(4);
                @include rtl{
                    order: 1;
                }
                @include ltr {
                    order: 2;
                }
            }
        }
        #secondary {
            @include margin-right(1.5%);
            @include media($sm) {
                @include span-columns(4);
            }
            @include media($md) {
                @include span-columns(2);
                @include rtl{
                    order: 2;
                }
                @include ltr {
                    order: 1;
                }
            }
        }
    }

    footer {
        clear: both;
        display: table;
    }
}
